# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

## Xcode Patch
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

## Build generated
build/
DerivedData/

## Other
*.DS_Store
.DS_Store

## Coverage / profiling
*.profraw
*.profdata
